{% extends 'base.html' %}
{% block title %}Horas por Professor{% endblock %}
{% block content %}
<h1 class="mb-4">Horas de Aula por Professor</h1>
<table class="table table-striped">
  <thead class="table-light">
    <tr><th>Professor</th><th>Total (h)</th></tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      <td>{{ item.professor }}</td>
      <td>{{ "%.2f"|format(item.horas) }}</td>
    </tr>
    {% else %}
    <tr><td colspan="2" class="text-center">Nenhum dado</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
